<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Billnae App</title>
    <!--     Fonts and icons     -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='/static/bundle.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="app">{{{html}}}</div>
  <script>
    window.__INITIAL_STATE__ = {{{initialState}}}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/static/bundle.js"></script>
</body>
</html>
